.login {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: 576px;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logoWrap {
    display: flex;
    flex: 2;
    justify-content: center;
    flex-direction: column;

    .logoImg {
      margin-bottom: 24px;
      background: url(../../assets/images/Logo.png) no-repeat;
      background-size: cover;
      width: 6em;
      height: 7.2em;
    }

    .logoText {
      background: url(../../assets/images/logo_wecode.png) no-repeat;
      background-size: cover;
      width: 5.6em;
      height: 1.2em;
    }
  }

  .inputBox {
    padding: 2.1em 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    input {
      padding: 1em 0.8em;
      width: 100%;
      background: #fafafa;
      color: #737373;
      font-size: 0.8em;
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
      border-radius: 4px;

      &:first-of-type {
        margin-bottom: 0.4em;
      }

      &:last-of-type {
        margin-bottom: 0.8em;
      }
    }

    .btnLogin {
      padding: 1em 0;
      margin-bottom: 0.9em;
      width: 100%;
      background: #2d71f7;
      color: #fff;
      font-size: 0.9em;
      font-weight: 500;
      border: none;
      border-radius: 8px;
    }

    .btnWrap {
      display: flex;
      flex-direction: row;
      flex: 1;

      button {
        padding: 0 2.4rem;
        width: 100%;
        white-space: nowrap;
        background: none;
        color: #000;
        font-size: 0.7em;
        font-weight: 300;
        border: none;
      }

      button + button {
        border-left: 1px solid #e0e0e0;
      }
    }
  }
}
