* {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
#root > div {
  margin: 10vh auto;
  width: 100%;
  max-width: 576px;
  min-width: 320px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
