.PostList {
  margin: 40px auto 110px auto;
  padding: 40px auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 576px;
  min-width: 320px;
  height: 100%;

  .container {
    position: relative;
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    height: 100%;

    .posts {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
      width: 100%;
      height: 100%;
    }
  }
}
